
services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: food_donation_db
    ports:
      - "3307:3306"

  api:
    build: .
    depends_on:
      - mysql
    ports:
      - "8080:8080"
